@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

*{
	
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #686de0;
	font-family: 'Muli', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	overflow: hidden;
	justify-content: center; 
	margin: 0;
}

.container{
	background-color: #fff;
	position: relative;
	border-radius: 10px;
	-webkit-box-shadow: 1px 3px 17px 1px rgba(0,0,0,0.67); 
	box-shadow: 1px 3px 17px 1px rgba(0,0,0,0.67);
	padding: 50px 20px;
	text-align: center;
	max-width: 100%;
	width: 800px;
	z-index: 1;
	overflow: hidden;
}

.edge1{
	position: absolute;
	width: 60px;
	height: 10px;
	background-color: red;
	top : -1%;
	left: -1%;
	z-index: -1;
	opacity: 0.6;
}

.edge2{
	position: absolute;
	width: 10px;
	height: 60px;
	background-color: red;
	top : 1.5%;
	left: -0.5%;
	z-index: -1;
	opacity: 0.6;
}


.edge3{
	position: absolute;
	width: 60px;
	height: 10px;
	background-color: red;
	bottom: -1%;
	right: -1%;
	z-index: -1;
	opacity: 0.6;
}

.edge4{
	position: absolute;
	width: 10px;
	height: 60px;
	background-color: red;
	bottom : 1.5%;
	right: -0.5%;
	z-index: -1;
	opacity: 0.6;
}


h3{
	margin: 0;
	opacity: 0.5;
	letter-spacing: 2px
}

.joke{
	font-size: 30px;
	letter-spacing: 1px;
	line-height: 40px;
	margin: 50px auto;
	max-width: 600px;
}

.btn{
	background-color: #9f68e0;
	color: #fff;
	border:0;
	border-radius: 10px;
	-webkit-box-shadow: 1px 3px 17px 1px rgba(0,0,0,0.67); 
	box-shadow: 1px 3px 17px 1px rgba(0,0,0,0.67);
	padding: 14px 40px;
	font-size: 16px;
	cursor: pointer;
}

.btn:focus{
	outline: 0;
}

.btn:active{
	transform: scale(0.98);
}




